[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
autopep8 = "*"

[packages]
flask = "*"
sqlalchemy = "*"
flask_sqlalchemy= "*"
sqlalchemy-migrate = "*"
flask-cors = "*"

[requires]
python_version = "3.7"
